body{
	margin: 0px;
	padding: 0px;
	/*background:#F3F5FC;*/
	background-image: url(img/m-nubes.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% ;
}
.conteiner{
	margin: auto;
	width: 960px;
	height: 650px;
	padding: 5px;
	background-image: url(img/nube.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	
}
.logo{
	width: 100%;	
	float: left;
	
}
.panel-izq{
	float: left;
	width: 70%;
	height: 70%;
	border-radius: 24px;
	
}
.panel-der{
	float: right;
	position: relative;
	bottom: 10%;
	width: 30%;
	height: auto;
	border-radius: 24px;
	/*background: white;*/
	background-color: rgba(255, 255, 255, 0.4);
}
.botones{
	float: left;
	width: 70%;
	height: auto;
	border-radius: 24px;
	
}
.imglog{
	margin-top: 1%;
	margin-left: 1%;
	float: inherit;
}
.title{
	float: inherit;
	margin-left: 10%;
	color: white;
}
.text-input{
	float: left;
	margin-left: 10%;
	margin-top: 10%;
	width: 80%;
	height: 60%;
	color: rgba(10, 56, 113, 1.9);
	font-size: 20PX;
	border: none;
	outline: none;	
	/*background: #F3F5FC;*/
	background-color: rgba(255, 255, 255, 0.4);
}
#img{
	margin-left: 2%;
	margin-top: 20%;
	width: 90%;
	height: auto;
}
#text{
	margin-left: 7%;
	margin-right: 5%;
}
#texto2{
	float: left;
	margin-left: 10%;
	color: #0A3871;
	width: 80%;
	height: 170px;
	border: none;
	outline: none;
	font-size: 15px;
}
#btn-encriptar{
	padding: 24px;
	width: 30%;
	height: 60%;
	border-radius: 24px;
	margin-left: 15%;
	/*background: #0A3871;*/
	background-color: rgba(10, 56, 113, 0.6);
}
#btn-desencriptar{
	padding: 24px;
	width: 30%;
	height: 60%;
	border-radius: 24px;
	margin-left: 10%;
	/*background: #D8DFE8;*/
	background-color: rgba(216, 223, 232, 0.3);
}
#copiar{
	margin-left: 36%;
	margin-top: 30%;
	padding: 24px;
	width: 40%;
	height: 10%;
	background: #D8DFE8;
	border-radius: 24px;
	display: none;
}
.parrafo{
	margin-left: 15%;
}
@media screen and (max-width: 400px){
	#btn-encriptar, #btn-desencriptar, #copiar{
		height: auto;
	}
}